/**{border: 1px solid black}*/
body{
	margin: 0;
	padding: 0 10%;
}
.titulo{
	text-align: center;
}
.paragrafo{
	text-indent: 1em;
	text-align: justify;
}
.paragrafo_capitular{
	text-indent: 0;
	text-align: justify;
}
.numero_pagina{
	position: absolute;
	left: 94%;
	font-size: 0.7em;
	text-indent: 0;
}
.imagem_centro{
	display: block;
	margin-left: auto;
	margin-right: auto;
}
.versalete{
	font-variant: small-caps;
}
.capitular{ 
  line-height: 1.2;
  margin-right: 2em;
  margin-top: 0.1em;
  float: left;
  max-width: 15%;
}
.capitular img{
  height: auto;
  line-height: 1.2;
  page-break-inside: avoid;
  text-indent: 0;
  vertical-align: top;
  height: auto;
  width: 100%;

max-width: 15%; /* Evita que a imagem fique desproporcional em telas menores */
}
.clear{
	clear: both;
}
p.verso{
	margin: 0;
	text-indent:-1.5em;
	margin-left: 1.5em;
	padding: 0;
}