body{
	margin: 0;
	padding: 0 10%;
}
.titulo{
	text-align: center;
}
.paragrafo{
	text-indent: 1em;
	text-align: justify;
}
.paragrafo_capitular{
	text-indent: 0;
	text-align: justify;
}
.numero_pagina{
	position: absolute;
	left: 94%;
	font-size: 0.7em;
	text-indent: 0;
}
.imagem_centro{
	display: block;
	margin-left: auto;
	margin-right: auto;
}
.versalete{
	font-variant: small-caps;
}
p.capitular:first-letter {
	visibility: hidden;
	color: transparent;
    margin-left: -0.9em;
}
img.capitular{
	float: left;
	margin-right: 0.5em;
}

.clear{
	clear: both;
}
p.verso{
	margin: 0;
	text-indent:-1.5em;
	margin-right: 1.5em;
	padding: 0;
}