/**{border: 1px solid black}*/
body{
	margin: 0;
	padding: 0 10%;
}
.titulo{
	text-align: center;
	white-space: pre;
}
.paragrafo{
	text-indent: 1em;
	text-align: justify;
}
p.capitular {
	text-indent: -1.5em;
	margin: 0;
	text-align: left;
	}
p.capitular::first-letter {
	opacity: 0;
	margin-left: -0.5em; 
	font-family: monospace;
	}
div.capitular {
	line-height: 1;
	margin-top: 0.1em; /* Reduz o espaçamento superior */
	}
img.capitular {
	float: left;
	margin-right: 2em;
	}
.numero_pagina{
	position: absolute;
	left: 94%;
	font-size: 0.7em;
	text-indent: 0;
}
.imagem_centro{
	display: block;
	text-align: center;
}
.versalete{
	font-variant: small-caps;
}
.clear{
	clear: both;
}
p.verso{
	margin: 0;
	text-indent:-1.5em;
	margin-left: 1.5em;
	padding: 0;
	text-align: left;
}
#image1{
	width: 70px;
	height: auto;
	}
#image2{
	width: 400px;
	height: auto;
	}
#image3{
	width: 180px;
	height: auto;
	}
#image5{
	width: 110px;
	}
#image6{
	width: 4em;
	height: auto;
	}